label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.addButton{
  font-size:20px;
  width:270px;
  height:180px;
  padding:5px;
  display:inline-block;
}
input[type="text"]{
  display:inline;
}

fa{
  background-color: yellow;
  color:red;
  width:50px;
  display:block;
}

li{
  list-style-type: none;
  display:inline-block;
}